<Header >  
    <Flex Direction="FlexDirection.Horizontal">
        <div class="top-row">
            <div class="container-fluid">
                <a class="navbar-brand" href="">FeatGen</a>
            </div>
        </div>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[]{"3"})>
            <MenuItem Key="1" RouterLink="/">
                <Icon Type="@IconType.Outline.Home" />
                <span style="text-decoration: none;font-weight:500;font-size:14px;">Home  </span>
            </MenuItem>
            <MenuItem Key="2" RouterLink="/specgen" style="text-decoration: none !important;">
                <Icon Type="@IconType.Outline.Comment" />
                <span style="text-decoration: none;font-weight:500;font-size:14px;">Spec Gen</span>

            </MenuItem>
            <MenuItem Key="3" RouterLink="/codegen">
                <Icon Type="@IconType.Outline.Code" />
                <span style="text-decoration: none;font-weight:500;font-size:14x;">Code Gen</span>
            </MenuItem>
        </Menu>
    </Flex>
 </Header> 



@code{

    protected override void OnInitialized()
    {
    }

    public void Dispose()
    {
    }
}