@page "/codegen"
@inject CodeGenStateContainer codeGenStateContainer

<GridRow Style="height:100vh;
                position:fixed;
                top:65px;
                padding:12px;
                width:100%;
                background-color:antiquewhite">
    <GridRow Style="width:100%;position:fixed;top:68px;">
        <Flex Gap="FlexGap.Middle" Direction="FlexDirection.Horizontal"
        Align="FlexAlign.Center">
            <div>Report Id</div>
            <AntDesign.Input Placeholder="Basic usage"
            Width="300px"
            @bind-Value="@codeGenStateContainer.ReportId">
            </AntDesign.Input>
            <Button Type="ButtonType.Primary"
            OnClick="@GetSpecification">
                Get Specification Json
            </Button>

            <div style="width:30px;boarder-right:1px solide gray;" />

            <div>Repo Path</div>
            <AntDesign.Input Placeholder="Root Path"
            Width="300px"
            @bind-Value="@codeGenStateContainer.CodeRootPath">
            </AntDesign.Input>
        </Flex>
    </GridRow>
    <GridRow Style="width:100%;height:calc(100vh-120px); position:fixed;top:120px;padding-right:20px;"
    Gutter="8">
        <GridCol Span="6"
        Style="height:80vh;overflow:auto;">
            <KnolwedgeBase.DesktopApp.Components.Components.CodeGen.LeftCommands />
        </GridCol>
        <GridCol Span="18" 
        Style="height:80vh;overflow:auto;padding:12px;
                        border:1px solid gray;">
            @if (codeGenStateContainer.ActiveComponent == 0)
            {
                <KnolwedgeBase.DesktopApp.Components.Components.CodeGen.Specification  />
            }
            else if (codeGenStateContainer.ActiveComponent == 1)
            {
                <KnolwedgeBase.DesktopApp.Components.Components.CodeGen.Theme />
            }
            else if (codeGenStateContainer.ActiveComponent == 2)
            {
                <KnolwedgeBase.DesktopApp.Components.Components.CodeGen.MenuItems />
            }
            else
            {
                <KnolwedgeBase.DesktopApp.Components.Components.CodeGen.FunctionalityCode />
            }
        </GridCol>
    </GridRow>
</GridRow>



@code {
    bool specLoading { get; set; }
    ReportCode reportCode { get; set; }
    string tabPosition { get; set; }
    string getSpec { get; set; }

    protected override async Task OnInitializedAsync()
    {
        codeGenStateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        codeGenStateContainer.OnChange -= StateHasChanged;
    }

    public async Task GetSpecification()
    {
        specLoading = true;
        codeGenStateContainer.Specification = await ApiCaller.GetSpecificationAsync(codeGenStateContainer.ReportId);
        var reportCode = await ApiCaller.GetReportCodeByReportId(codeGenStateContainer.ReportId);
        if (reportCode != null && reportCode.Code != null)
        {
            codeGenStateContainer.CodeForReport = reportCode.Code;
            codeGenStateContainer.ThemeCode = reportCode.Theme;
        }
        specLoading = false;
    }
}
