@page "/"

<h1>Hello, world!</h1>

<h2>IntelligentPathPlanning</h2>

<div>@Tempo.IntelligentPathPlanning</div>


<h2>TreatmentMonitoring</h2>

<div>@Tempo.TreatmentMonitoring</div>


<h2>UserManagement</h2>

<div>@Tempo.UserManagement</div>


<h2>DataAnalysisReport</h2>

<div>@Tempo.DataAnalysisReport</div>


@code {
    private string name = "World";
    private string dataAnalysisReportCode = "";

    protected override async Task OnInitializedAsync()
    {
        
    }
}